body{
margin :0;
border : 0;
padding : 0;
outline: none;
background-color : gainsboro;
}
header{
height: 90px;
background-color : maroon;
border-bottom:1px solid #000000;
text-align: left;
font-size: 30px;
}
.vverh{
width : 100%;
margin : 0 auto;
}
.flexContainer {
display:flex;
flex-direction: column;
}
header div #logo {
float: left;
margin-right: 260px;
}
header div #cont{
font-family : fantasy;
font-size : 40px;
}
#menu{
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
font-size: 2.5em;
background-color: dimgrey;
border: 1px solid darkgray;
border-top: 0;
}
#menu li{
list-style-type: none;
}
#menu li a{
text-decoration: none;
color: black;
}
#menu li a:hover{
color:green;
}
table{
table-layout: fixed;
width: 100%;
border-collapse: collapse;
background-color: maroon;
border: 2px solid ;
}
th{
letter-spacing: 1px;
border: 2px solid ;
padding: 10px
}
td{
letter-spacing: 2px;
border: 2px solid ;
padding: 10px;
}
tbody td{
text-align: center;
}
tbody tr:nth-child(odd){
background-color: dimgrey;
}
tbody tr:nth-child(even){
background-color: brown;
}
#spisok{
order: 0;
}
#tabl{
order: 2;
}
#forma{
order: 1;
}
footer{
width: 100%;
background-color: maroon;
color: silver;
margin: 0 auto;
padding: 2px 5px;
border-top: 1px solid black;
}
@media screen and (orientation: landscape) and (min-width: 480px){
.vverh{
width: 960px;
}
header #cont {
font-size: 3em;
}
#menu {
display: flex;
flex-direction: row;
justify-content: space-around;
}
#spisok{
order: 0;
}
#tabl{
order: 1;
}
#forma{
order: 2;
}
}